.grid_container {
  display: grid;
  grid-template-columns: 2fr 4fr;
  grid-template-rows: auto auto;
}

body {
  font-family: "Open Sans", Arial, sans-serif;
}

/* navigation */

nav {

  border-right: solid grey;
}

nav ul {
  list-style: none;
  margin-left: -2.5rem;
  line-height: 1.5rem;

}

nav ul li {
  padding: 0.5rem 1rem;
  border-top: 1px solid grey;
}

nav ul li:last-child {
  border-bottom: 1px solid grey;
}

nav ul li a {
  text-decoration: none;
  color: blue;

}

nav ul li:hover {
  background:   #85929e;
}

@media only screen and (max-width: 815px) {
  .grid_container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  nav {

    border-right: none;
  }

}

/* main */

main {
  margin-left: 2rem;
}

code {
  display: block;
  background-color: #f7f7f7;
  padding: 15px;
  margin: 10px;
  border-radius: 5px;
}
/* form */
form {
  text-align: center;
  line-height: 3rem;
}

form label {
  font-weight: bold;
}

/* footer */

footer {
  margin-top: 30px;
  background-color: #ddd;
  padding: 20px;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 10px;
  list-style: none;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #444;
}
