body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

img {
  z-index: -1;
  margin: 1rem 1rem;
}

header{
  position: fixed;
  width: 100%;
  background: white;
  -moz-box-shadow:    3px 3px 5px 6px #ccc;
-webkit-box-shadow: 3px 3px 5px 6px #ccc;
box-shadow:         3px 3px 5px 6px #ccc;

}

h2 {
  margin-top: 12rem;
  text-align: center;
}

iframe {
  margin-top: 2rem;
  display: block;
width: auto;
}

nav {
  float: right;
  margin-right: 2rem;

}

nav ul {
  display: flex;
  list-style: none;
  border: solid black;
  padding: 0.5rem 0.5rem;
}

nav ul li {
  width: 9rem;
  text-align: center;

}

a {
  text-decoration: none;
  color: grey;
}

a:hover {
  border-top: 4px solid #f00;

}

iframe {
  text-align: center;
}

.container {
  margin-top: 2rem;
  display: block;

}

.level {
  font-size: 2rem;
  text-align: center;
  padding: 0.5rem;
  background:  #d5dbdb;
  border-radius: 25%;
}

.product {
  padding: 1rem 1rem;
  border: solid #f7dc6f;
  text-align: center;
}

ol {
  text-align: initial;
}

h3 {
  text-align: center;
}

.btn {
  box-shadow:inset 0px 0px 15px 3px #23395e;
	background:linear-gradient(to bottom, #2e466e 5%, #415989 100%);
	background-color:#2e466e;
	border-radius:17px;
	border:1px solid #1f2f47;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	padding:6px 13px;
	text-decoration:none;
	text-shadow:0px 1px 0px #263666;
  margin-left: auto;
  margin-right: auto;

}
.btn:hover {
	background:linear-gradient(to bottom, #415989 5%, #2e466e 100%);
	background-color:#415989;
}
.btn:active {
	position:relative;
	top:1px;
}

@media (max-width: 600px) {
  header {
    flex-wrap: wrap;
  }

  nav ul {
    flex-direction: column;
  }

  a:hover {
    border-top: none;
    color: red;
  }
}

form {
  margin-top: 2rem;

  text-align: center;
}

label {
  line-height: 3rem;
}



footer {
  align-self: stretch;
  margin-top: 30px;
  background-color: #ddd;
  padding: 20px;
}

footer > ul {
  display: flex;
  justify-content: flex-end;
}

footer > ul > li {
  padding: 0 10px;
  list-style: none;
}

footer > span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #444;
}
