
img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, p {
  text-align: center;
  line-height: 1.5rem;
}

h1, h2, h3 {
  padding-top: 3rem;
}

h3 {
  padding-bottom: 3rem;
}

ul {
  line-height: 1.5rem;
}

#main {
  background: rgb(247, 220, 111);
}

blockquote {
  font-size: 2rem;
}

blockquote>p {
  line-height: 3rem;
}

@media only screen and (max-width: 600px) {
  blockquote {
    font-size: 1.5rem;
  }

  blockquote>p {
    line-height: 2rem;
  }
}
