/* Contact Section */
header {
  text-align: center;
  border: 2px solid #ccd1d1;
  border-radius: 5px;
  background-color: #4CAF50;
}
/* Style inputs, select elements and textareas */
input[type=text], select, textarea{
  width: 100%;
  padding: 12px;
  border: 2px solid #ccd1d1;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  box-sizing: border-box;
  resize: vertical;
}

/* Style the label to display next to the inputs */
/* label {
  padding: 12px 12px 12px 0;
  display: inline-block;
} */

/* Style the submit button */
input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: 2px solid #4CAF50;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  cursor: pointer;
  float: right;




}

/* Style the container */
.formcontainer {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

/* Floating column for labels: 25% width */
.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

/* Floating column for inputs: 75% width */
.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
