/* grid */
html {
  background:  #34495e;
}

body {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'main main main main main main'
    'footer footer footer footer footer footer';
}

header {
  grid-area: header;

}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
}

/* nav */
header {
  position: fixed;
  right: 0.5rem;
  left: 0.5rem;
  top: 0;
  background-color: #80cbc4;
}

header>img {
  margin: 0.5rem 0.5rem;
  background: white;
  padding: 0.5rem;
  border: solid #ddd;
}

nav {
  float: right;
  margin-right: 2rem;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  padding: 1rem 2rem;
  list-style: none;
}

nav ul li a {
  color: black;
  font-weight: bold;
  padding: 1rem 1rem;
  text-decoration: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}

/* nav hover */
nav ul li a:hover {
  color:    white ;
}

nav ul li a:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 51%;
  right: 51%;
  top: 0;
  background: #ddd;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
nav ul li a:hover:before, nav ul li a:focus:before, nav ul li a:active:before {
  left: 0;
  right: 0;
}

/* font styles and so on */
h1 {
  color: white;
  margin-top: 50vh;
  text-align: center;
  font-size: 2rem;
  color: #e0dfdc;
letter-spacing: .1em;
text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0,0,0,0.9), 2px 2px 2px rgba(206,89,55,0);

}

h2 {
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
  text-align: center;
  background:  white;
  border: 30px inset #1C6EA4;
border-radius: 40px 19px 40px 0px;
line-height: 4rem;



}

#projects {
  background:  #34495e;
}

h1, h2, nav ul li a, footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;

}

/* welcome section */
.welcome-section {
  height: 100vh;
}

/* project examples styled */
.project-tile {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(25rem, 1fr) );
  grid-template-rows: 1fr;
  grid-gap: 1rem;

}

.project_one {
  grid-column: 1 / 2;
  grid-row: 1;
}

.project_two {
  grid-column: 2 / 3;
  grid-row: 1;
}

.project_examples {
background:  #a5d6a7;
 overflow: hidden;
 border-radius: 1rem;


}

.project_examples>img {
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: auto;
  margin-right: auto;
  height: 30rem;
  max-width: 30rem;
}

/* footer */
footer {
  background-color: #ddd;
  padding: 1.5rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  border-radius: 1rem;

}

footer>ul {
  display: flex;
  justify-content: flex-end;

}

footer>ul>li {
  padding: 0 10px;
  list-style: none;

}

footer ul li a {
  text-decoration: none;

}

footer ul li a:hover {
  color:    #2098D1 ;
}

footer>span {
  margin-top: 5px;
  display: flex;
  justify-content: flex-end;
  font-size: 0.9em;
  color: #444;
}

@media (max-width: 1100px) {
  .project-tile {
    display: flex;
    flex-direction: column;


  }
  .project_examples {
    padding: 1rem;
  }

  img {
    max-width: 100%;
 height: auto;
  }

  body {
    display: initial;
  }

}
